<%- include("../partials/header") %> 
<%- include("../partials/breadCrumb") %>
        <!-- Purchase Section Starts -->
        <section class="purchase-section padding-120">
            <div class="container">
                <div class="purchase-table">
                    <div class="purchase-table-head">
                        <div class="row">
                            <div class="col-5">
                                <h5>purchase history</h5>
                            </div>
                            <div class="col-7">
                                <ul>
                                    <li><h5>date</h5></li>
                                    <li><h5>total price</h5></li>
                                    <li><h5>payment type</h5></li>
                                    <li><h5>recipt</h5></li>
                                    <li><h5>invoice</h5></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="single-table-item">
                        <div class="purchase-table-head">
                            <div class="row">
                                <div class="col-lg-5">
                                    <h5>purchase history</h5>
                                </div>
                                <div class="col-lg-7">
                                    <ul>
                                        <li><h5>date</h5></li>
                                        <li><h5>total price</h5></li>
                                        <li><h5>payment type</h5></li>
                                        <li><h5>recipt</h5></li>
                                        <li><h5>invoice</h5></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="purchase-table-item">
                            <div class="row align-items-center">
                                <div class="col-lg-5">
                                    <div class="row align-items-center">
                                        <div class="col-lg-4">
                                            <a href="#"><img src="/assets/images/purchase-image-1.jpg" alt="image"></a>
                                        </div>
                                        <div class="col-lg-8">
                                            <h5><a href="#">ultimate photoshop training</a></h5>
                                            <span>by <a href="#">john doe</a></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <ul>
                                        <li><h5>18 june 2020</h5></li>
                                        <li><h5>$ 16,99</h5></li>
                                        <li><h5>free coupon</h5></li>
                                        <li><a href="#">recipt</a></li>
                                        <li><h5>unavailable</h5></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-table-item">
                        <div class="purchase-table-head">
                            <div class="row">
                                <div class="col-lg-5">
                                    <h5>purchase history</h5>
                                </div>
                                <div class="col-lg-7">
                                    <ul>
                                        <li><h5>date</h5></li>
                                        <li><h5>total price</h5></li>
                                        <li><h5>payment type</h5></li>
                                        <li><h5>recipt</h5></li>
                                        <li><h5>invoice</h5></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="purchase-table-item">
                            <div class="row align-items-center">
                                <div class="col-lg-5">
                                    <div class="row align-items-center">
                                        <div class="col-lg-4">
                                            <a href="#"><img src="/assets/images/purchase-image-2.jpg" alt="image"></a>
                                        </div>
                                        <div class="col-lg-8">
                                            <h5><a href="#">complete financial analysis</a></h5>
                                            <span>by <a href="#">chris doe</a></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <ul>
                                        <li><h5>18 june 2020</h5></li>
                                        <li><h5>$ 16,99</h5></li>
                                        <li><h5>free coupon</h5></li>
                                        <li><a href="#">recipt</a></li>
                                        <li><h5>unavailable</h5></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-table-item">
                        <div class="purchase-table-head">
                            <div class="row">
                                <div class="col-lg-5">
                                    <h5>purchase history</h5>
                                </div>
                                <div class="col-lg-7">
                                    <ul>
                                        <li><h5>date</h5></li>
                                        <li><h5>total price</h5></li>
                                        <li><h5>payment type</h5></li>
                                        <li><h5>recipt</h5></li>
                                        <li><h5>invoice</h5></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="purchase-table-item">
                            <div class="row align-items-center">
                                <div class="col-lg-5">
                                    <div class="row align-items-center">
                                        <div class="col-lg-4">
                                            <a href="#"><img src="/assets/images/purchase-image-3.jpg" alt="image"></a>
                                        </div>
                                        <div class="col-lg-8">
                                            <h5><a href="#">complete advance WP</a></h5>
                                            <span>by <a href="#">john doe</a></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <ul>
                                        <li><h5>18 june 2020</h5></li>
                                        <li><h5>$ 16,99</h5></li>
                                        <li><h5>free coupon</h5></li>
                                        <li><a href="#">recipt</a></li>
                                        <li><h5>unavailable</h5></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="template-pagination margin-top-20">
                            <ul>
                                <li class="pagination-arrow"><a href="#"><i class="fa fa-angle-left"></i></a></li>
                                <li><a href="#">01</a></li>
                                <li><a href="#">02</a></li>
                                <li><a href="#">03</a></li>
                                <li><a href="#">04</a></li>
                                <li class="pagination-arrow"><a href="#"><i class="fa fa-angle-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
<%- include("../partials/footer") %> 