<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required Meta Tags -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <!-- Page Title -->
        <title>Rumbok Learning Management System</title>

        <!-- Favicon Icon -->
        <link rel="shortcut icon" href="favicon.png">

        <!-- CSS Files -->
        <link rel="stylesheet" href="/css/animate.css">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/icofont.css">
        <link rel="stylesheet" href="/css/slick.css">
        <link rel="stylesheet" href="/css/magnific-popup.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        <!-- Preloader Starts -->
        <div class="preloader" id="preloader">
            <div class="preloader-inner">
                <div class="spinner">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
            </div>
        </div>

        <!-- Main Menu -->
        <div class="main-menu">
            <div class="menu-logo">
                <a href="index.html"><img src="/images/logo-both-color.png" alt="logo"></a>
            </div>
            <ul>
                <li class="have-submenu"><a href="#">home</a>
                    <ul class="sub-menu">
                        <li><a href="index.html">home 01</a></li>
                        <li><a href="home-2.html">home 02</a></li>
                    </ul>
                </li>
                <li><a href="about.html">about</a></li>
                <li class="have-submenu"><a href="#">course</a>
                    <ul class="sub-menu">
                        <li><a href="web-development.html">web development</a></li>
                        <li><a href="education.html">education</a></li>
                        <li><a href="business.html">business</a></li>
                        <li><a href="banking.html">banking</a></li>
                        <li><a href="corporate.html">corporate</a></li>
                        <li><a href="consulting.html">consulting</a></li>
                        <li><a href="marketing.html">marketing</a></li>
                        <li><a href="photography.html">photography</a></li>
                        <li><a href="music.html">music</a></li>
                    </ul>
                </li>
                <li><a href="course-details.html">course details</a></li>
                <li><a href="course-video.html">course video</a></li>
                <li><a href="package.html">package</a></li>
                <li><a href="instructor-details.html">instructor details</a></li>
                <li><a href="cart.html">cart</a></li>
                <li><a href="purchase.html">purchase</a></li>
                <li class="have-submenu"><a href="#">blog</a>
                    <ul class="sub-menu">
                        <li><a href="blog.html">blog</a></li>
                        <li><a href="blog-details.html">blog details</a></li>
                    </ul>
                </li>
                <li><a href="contact.html">contact</a></li>
                <li><a href="login.html">log in</a></li>
                <li><a href="signup.html">sign up</a></li>
                <li><a href="404.html">404</a></li>
            </ul>
        </div>

        <!-- Header Section Starts -->
        <header class="header-section">
            <!-- Header Info Starts -->
            <div class="header-info">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-sm-6">
                            <div class="info-left">
                                <div class="phone-part">
                                    <i class="fa fa-phone-square"></i>
                                    <span><a href="#">+012-345 6789</a></span>
                                </div>
                                <div class="email-part">
                                    <i class="fa fa-envelope-open"></i>
                                    <span><a href="#">info@rumbok.com</a></span>
                                </div>
                                <div class="menu-toggle-bar">
                                    <div class="custom-bars">
                                        <div class="custom-bar bar-1"></div>
                                        <div class="custom-bar bar-2"></div>
                                        <div class="custom-bar bar-3"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="info-right">
                                <ul>
                                    <li class="login-button"><a href="login.html">login</a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- main Header Starts -->
            <div class="main-header">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="header-logo">
                                <a href="index.html"><img src="/images/logo.png" alt="logo"></a>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="main-header-right">
                                <!-- Category Dropdown Starts -->
                                <div class="category-dropdown">
                                    <div class="menu-bar">
                                        <i class="fa fa-bars"></i>
                                        <span>categories</span>
                                    </div>
                                    <div class="category-menu">
                                        <ul>
                                            <li><a href="web-development.html">web development</a></li>
                                            <li><a href="education.html">education</a></li>
                                            <li class="have-submenu"><a href="#">business</a>
                                                <ul class="sub-menu">
                                                    <li><a href="banking.html">banking sector</a></li>
                                                    <li><a href="corporate.html">corporate sector</a></li>
                                                    <li><a href="consulting.html">consulting</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="marketing.html">marketing</a></li>
                                            <li><a href="photography.html">photography</a></li>
                                            <li><a href="music.html">music</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="header-search">
                                    <form action="#">
                                        <input type="text" placeholder="Search">
                                        <button type="submit"><i class="fa fa-search"></i></button>
                                    </form>
                                </div>
                                <div class="header-button">
                                    <a href="signup.html" class="template-button-2">become student</a>
                                    <a href="instructor-details.html" class="template-button">instructor</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>